@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
                <input type="hidden" id="userInput" value="@User.Identity.Name" />
                <br />
                Message...<input type="text" id="messageInput" />
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
                <div id="messagesList"></div>
                @foreach(var article in ViewBag.list)
                {
                    <div class="media">
                        <a href="#" class="media-left">
                            <img src="/Home/UserPhoto/@article.User.UserName" width="150" height="150" />
                        </a>
                        <div class="media-body" id=@article.Id>
                            <h4 class="media-heading">
                                @article.User.ApplicationUserName
                            </h4>
                            <div>@article.Text</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/articleSend.js"></script>
