/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 16px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* 画像 */
.userphoto {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
}

/* 投稿 */
.media{
    border: solid thin #bfbfbf;
    padding:10px;
    margin: 0px;
}

/* 投稿入力エリア */
#messageInput {
    width: 90%;
}

/* ファイル選択 */
#image-select {
    display: none;
}

/* 画像アイコン */
.image-icon {
    font-size: 32px;
}
.image-icon:hover {
    opacity: 0.5;
    cursor: pointer;
}
